<!-- templates/index.html -->

{% extends "base.html" %}
{% block content %}
<section class="section" xmlns="http://www.w3.org/1999/html">
    <div class="content">
        <h1 class="title">Welcome to the otokuna web app!</h1>
        <p>This app is a tool to aid finding good deals of rental properties. It scrapes data of
            rental properties and provides estimates of their monthly cost. The data and the estimates
            are presented in a spreadsheet-like table which you can explore and manipulate freely.
            There are two ways to use this app (click on each link for further details):
        </p>
        <ul>
            <li><strong><a href="{{ url_for('index_daily') }}">See the daily predictions</a></strong>:
                The app keeps track of the rental properties published daily. You can use this to check
                if any new good deals were published recently.</li>
        </ul>

        <h2 class="subtitle">How to read the tables</h2>
        <p>Each row in the table is a property for rental (賃貸物件) and each column shows attributes
            such as rent, layout, area, address, etc. Among these, three columns deserve special
            attention:
        </p>
        <ul>
            <li><strong>monthly_cost</strong>: the actual rent plus the administration fee (in JPY),
                as advertised by the broker.</li>
            <li><strong>monthly_cost_predicted</strong>: the predicted monthly cost (in JPY), based
                on a regression model trained on historical data that estimates how much the property
                would cost given its area, layout, location and such.</li>
            <li><strong>otokuna_score</strong>: the predicted to actual ratio, e.g. a score of 2 means
                that the predicted value is twice the actual value. The higher this value, the better
                a deal we believe the property is because it is supposed to be more expensive than what
                is being advertised.</li>
        </ul>
        <p>The table is rendered by <a href="https://github.com/man-group/dtale">DTale</a>.
            You can interact with it by scrolling along the rows and columns and
            clicking the headers or the menu button on the top-left corner. You
            can sort, filter, apply heatmaps and do many more things. For for more
            information on all the things you can do with DTale tables please refer
            to this <a href="https://github.com/man-group/dtale/#dimensionsmain-menu">link</a>.
        </p>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Built by <a href="https://github.com/alegonz">Alejandro González</a>.
        </p>
        <a href="https://bulma.io">
            <img
            src="https://bulma.io/images/made-with-bulma.png"
            alt="Made with Bulma"
            width="128"
            height="24">
        </a>
    </div>
</footer>
{% endblock %}
